
:root {

    /* Paleta de colores  */

--primary-solid:  #FF3333;
--primary-900:  rgb(255, 51, 51, 0.9);
--primary-500:  rgb(255, 51, 51, 0.5);
--primary-300: rgb(255, 51, 51, 0.3);



--secondary-solid: #1D84B5;
;
--secondary-900: rgb(29, 132, 133, 0.9);
--secondary-500: rgb(29, 132, 133, 0.5);
--secondary-300: rgb(29, 132, 133, 0.3);

--dark-solid:  #1f1f1f;
--dark-900:  rgb(31, 31, 31, 0.9);
--dark-500:  rgb(31, 31, 31, 0.5);
--dark-300:  rgb(31, 31, 31, 0.3);

--dark-bg-solid:  #30343F;
--light-bg-solid: #FAFAFF;
--light-font-solid: #FFFFFF;

/* Typography */

--base-font: 'Inter', sans-serif;
--alternative-font: 'Raleway', sans-serif;

/* font sizes */

--font-display: 4.6em;
--font-jumbo: 3.8em;
--font-xlarge: 3em;
--font-large: 2.4em;
--font-medium: 1.8em;
--font-small: 1.6em;
--font-xsmall:1.2em;

/* Spacings  */

--spacing-128: 12.8rem;
--spacing-68: 6.8rem;
--spacing-50:5.0rem;
--spacing-36: 3.6rem ;
--spacing-28: 2.8rem;
--spacing-24:2.4rem;
--spacing-20: 2.0rem;
--spacing-16: 1.6rem;
--spacing-12: 1.2rem ;
--spacing-8: 0.8rem ;









}

*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
}












header {
    margin-bottom: var(--spacing-24);
 
}


table {
  
    border-collapse: separate;
    border-spacing: 3rem;
} 



.section__adm{
    display: flex;
    align-items: center;
    margin: 2% 0;
    height: 42px;
    gap: 1%;
   
}

.section__adm img{
    width: 42px;
}

.section__search {
    width: 100%;
    height: 100%;
    display: inherit;
    align-items: center;
    margin-bottom: var(--spacing-16);
    margin-top: var(--spacing-16);
   
}

.section__search input{
    width: 40%;
    height: 90%;
    border: 2px solid var(--dark-bg-solid);
    border-radius: 5px;
    margin-bottom: var(--spacing-16);
    margin-top: var(--spacing-16);
}

.section__search input::placeholder,
.section__search input:not(:placeholder-shown){
    text-indent: 10px;
    font-family: var(--alternative-font);
    font-size: var(--font-small);

}

.adm__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: var(--spacing-16);
    margin-top: var(--spacing-24);
}
.product__list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
    font-size: var(--font-xsmall);
}

.product__list h1{
    font-family: var(--alternative-font);
    font-weight: 700;
    font-size: var(--font-jumbo);
}

.add-product{
    display: inherit;
    align-items: center;
    gap: 15px;
}

.add-product p{
    font-size: var(--font-large);
    font-weight: 700;
}

.add-product img{
    width: 3.5rem;
    cursor: pointer;
}

.adm__content table{
    width: 100%;
    padding-left: 3%;
    font-size: var(--font-large);
}

.adm__content table thead tr th{
    text-align: start;
}



.adm__content table tbody tr td:first-child{
    text-align: center;
}

.adm__content table tbody{
    font-weight: 500;
}

.adm__content table a{
    display: contents;
}

.adm__content table img{
    height: 2.7rem;
}


/* Estilos generales */

.container {
    max-width: 1200px;
    margin: 0 auto;
}







@media only screen and (max-width: 820px) {
    .section__adm {
        flex-direction: row;
        gap: 10px;
    
    }

    table {
    
        border-collapse: separate;
        border-spacing: 0.5rem;
        font-size:1.6rem;
    }

    td{
        font-size:1.6rem;
    }
   
    tr {
        height: 5rem;
    }

    .section__search input {
        display: flex;
        width: 80%;
    }

img {
    height: 5rem;
}

    .adm__content {
        margin-bottom: 3%; 
    }
    .product__list {
        display: flex;
        justify-content: space-between;
      align-items: flex-start;
        text-align: center;
        margin: var(--spacing-12);
      
    }

    .product__list h1 {
        font-size: var(--font-medium); 
    }

    .add-product p {
        flex-direction: column;
        gap: 10px;
        font-size: var(--font-medium);
    }

    .add-product img {
        width: 1.5rem; 
    }

    .adm__content table {
        font-size: var(--font-medium); 
    }

    .adm__content table img {
        height: 2rem; 
    }
}
















@media only screen and (max-width: 527px) {
    .adm__content table img {
        width: auto;
    }
}


@media only screen and (max-width: 360px) {
    .adm__content table img {
        width: 3.2rem;
        display: flex;
        flex-direction: column;
    }
  /* Ocultar categoria */
  table tr th:nth-child(4),
  table tr td:nth-child(4) {
      display: none;
  }
}

@media only screen and (max-width: 320px) {
    .adm__content table img {
        width: 2.2rem;
        display: flex;
        flex-direction: column;
    }

    td {
        height: 10rem!important;
    }

      /* Ocultar categoria */
      table tr th:nth-child(4),
      table tr td:nth-child(4) {
          display: none;
      }
}

